<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/back/css/style.css">
</head>

<body>
	<div class="place">
		<span>位置：</span>
		<ul class="placeul">
			<li><a href="#">首页</a></li>
			<li><a href="#">角色管理</a></li>
			<li><a href="#">角色列表</a></li>
		</ul>
	</div>

	<div class="rightinfo">
		<ul class="toolbar1">
			<li id="addBtn"><span><img src="/static/back/images/t01.png" /></span>添加</li>
		</ul>

		<form action="/back/roles" id="searchform">
			<input type="hidden" id="orderBy" name="orderBy" value="{{.OrderBy}}">
			<input type="hidden" id="order" name="order" value="{{.Order}}">

			<input type="hidden" id="pageNo" name="pageNo" value="1">
			<input type="hidden" id="pageSize" name="pageSize" value="{{.Pager.PageSize}}">

			<ul class="searchform">
				<li>
					<label>角色名称</label>
					<input type="text" name="roleName" value="{{.RoleName}}" class="dfinput" style="width:150px" placeholder="角色名称">
				</li>
				<li>
					<button class="scbtn">查询</button>
				</li>
			</ul>
		</form>
		<table class="tablelist">
			<thead>
				<tr>
					<th width="35px"><input name="" type="checkbox" value="" checked="checked"/></th>
					<th width="50px">
						<a href="#" orderBy="id">
							编号<i class="sort"><img src="/static/back/images/px.gif" /></i></th>
						</a>
					<th>
						<a href="#" orderBy="role_name">
							角色名<i class="sort"><img src="/static/back/images/px.gif" /></i></th>
						</a>
					</th>
					<th>
						<a href="#" orderBy="create_time">
							创建时间<i class="sort"><img src="/static/back/images/px.gif" /></i></th>
						</a>
					</th>
					<th width="100px">操作</th>
				</tr>
			</thead>
			<tbody>
				{{range .Pager.PageData}}
					<tr>
						<td><input name="ids" type="checkbox" value="{{.Id}}" /></td>
						<td>{{.Id}}</td>
						<td>{{.RoleName}}</td>
						<td>{{date .CreateTime "Y-m-d"}}</td>
						<td>
							<a href="javascript:toUpdate({{.Id}});" class="tablelink">修改</a>     
							<a href="javascript:doDelete({{.Id}});" class="tablelink"> 删除</a>
						</td>
					</tr> 
				{{end}}
			</tbody>
		</table>

		<div id="pager" class="pagin"></div>

	</div>

</body>
	<script type="text/javascript" src="/static/back/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/validator.js"></script>
	<script type="text/javascript" src="/static/back/js/pager.js"></script>

	<script type="text/javascript">
		var AddRoleHtmlUrl = "/back/roles/add.html"
		var DeleteRoleUrl = '/back/roles/'

		$(function() {
			$('.tablelist tbody tr:odd').addClass('odd');
			// 分页
			$('#pager').pager({
				pagenumber : {{.Pager.PageNo}},
				pagecount : {{.Pager.PageCount}},
				total : {{.Pager.Total}},
				// 翻页	
				buttonClickCallback : function(pagenumber) {
					$('#pageNo').val(pagenumber);
					$('#searchform').submit();
				}
			})

			// 添加页面
			$('#addBtn').click(function() {
				location.href = AddRoleHtmlUrl;
			})

			// 排序
			$('th a').click(function() {
				var old_orderBy = $('#orderBy').val();
				var old_order = $('#order').val();	

				var orderBy = $(this).attr('orderBy');
				if (old_orderBy == orderBy) {
					if (old_order == 'desc') {
						$('#order').val('asc');
					} else if (old_order == 'asc') {
						$('#order').val('desc');
					}
				} else {
					$('#order').val('desc');
				}

				$('#orderBy').val(orderBy);
				$('#searchform').submit();
			})
		})

		// 跳转修改页面
		toUpdate = function(id) {
			location.href = '/back/roles/' + id;
		}

		//删除
		doDelete = function(id) {
			if (confirm('您确定删除此数据吗？')) {
				$.ajax({
				  	type: 'delete',
				  	url: DeleteRoleUrl + id,
				  	dataType: "json",
				  	success : function(r) {
			  			if (r) {
							if (r.Code == 200) {
								alert('删除成功');
								$('#searchform').submit();
							} else {
								alert(r.Msg);
							}
						}
				  	}

				});	
			}
		}
	</script>
</html>
